.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  background-color: #aaf0e8;
  text-align: center;
}

.subtitle {
  /*見出しは左に寄せたい*/
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;

}
